:root {
    --buttonWidth: 100px;
    --buttonNumber: 3;
}

body {
    background-color: silver;
}

#root {
    text-align: center;
}

.board {
    background-color: rgba(125, 125, 125, 0.9);
    margin: 20px auto;
    width: calc(var(--buttonWidth) * var(--buttonNumber) );
    height: calc(var(--buttonWidth) * var(--buttonNumber) );
    display:flex;
    flex-wrap: wrap;
}

.GameField {
    width: var(--buttonWidth);
    height: var(--buttonWidth);
}

.GameField ::after {
    clear: both;
    content: "";
}
.X{
    color: MediumSlateBlue;
    font-size: 87px;
}
.O{
    color: rgb(255,130,171);
    font-size: 67px;
}
.StartNewGame{
    background-color: darkorchid;
    margin: 20px auto;
    padding: 20px;
}
.GameOngoing{
    background-color: aliceblue;
    margin: 20px auto;
    padding: 20px;
}
.Winner{
    color: deeppink;
}
.Common{
}